{% extends "base.html" %}

{% block titular %}
Creacion
{% endblock titular %}


{% block titulo_1 %}
Bienvenido a la zona de creacion!!
{% endblock titulo_1 %}

{% block titulo_2 %}
CREA TU VIDEOJUEGO!
{% endblock titulo_2 %}         

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark text-white">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Formulario de Creación</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'crear' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ formulario.as_p }}
                        <div class="text-center mt-4">
                            <input class="btn btn-warning btn-xl text-uppercase" type="submit" value="Crear">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

