{% extends "base.html" %}

{% block titular %}
About Me
{% endblock titular %}

{% block titulo_2 %}
ABOUT ME
{% endblock titulo_2 %}         

{% block main %}
<p>   
    Hola! me llamo Tomas Pietrucha, tengo 19 años y esta es mi primera pagina web que creo con el framework django. 
</p> 
<p>
    Actualmente soy estudiante universitario de sistemas y tambien estoy incursionando en el estudio a travez de los cursos online.
</p>
<p>
    Muchas gracias por visitar la pagina y espero que les guste!!
</p>

{% endblock main %}